<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">工作信息</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="index"><a href="{% url 'index' %}">工作信息</a></li>
        <li id="explist"><a href="{% url 'explist' %}">面经聚合</a></li>
        <li id="youdaonote"><a href="{% url 'youdaonote' %}">班级云笔记</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
